[submodule "admin_panel_service"]
	path = admin_panel_service
	url = https://github.com/trteo/admin_panel_service.git
[submodule "tg_bot_service"]
	path = tg_bot_service
	url = https://github.com/trteo/tg_bot_service.git
